terratowns_endpoint = "https://terratowns.cloud/api"
cadbury = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/cadbury"
    content_version=1
}
swtor = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/swtor"
    content_version=1
}


